body {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    min-height: 100%;
}

.header .btn-outline-danger {
    width: 150px;
    height: 45px;
}

.btn-danger {
    width: 250px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

.btn-danger:hover {
    box-shadow: 0px 20px 35px rgba(245, 56, 56, 0.3);
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
}

.link:hover {
    color: #0B132A;
    text-decoration: none;
}

.header h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.header span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.section span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.section h3 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.section p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.section-2 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.section-2 .px-lg-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: #4F5665;
}

.section-2 .card {
    width: 330px;
    height: 760px;
}

.section-2 .card:hover {
    cursor: pointer;
    border: 1px solid #F53838;
}

.section-2 .card-img-top {
    width: 144px;
    height: 165px;
    margin: 0 auto;
}

.section-2 .btn-outline-danger {
    width: 178px;
    height: 45px;
}

.section-2 .btn-outline-danger:hover {
    box-shadow: 0px 20px 35px rgba(245, 56, 56, 0.3);
}

.section-2 h4 span {
    font-style: normal;
    font-weight: normal;
    color: #4F5665;
}

.text_btn {
    margin: 25px 0;
}

.section-3 .global {
    filter: grayscale(100%);

}

.section-3 .global:hover {
    filter: grayscale(0);

}

.section-3 .banner {
    height: 60px;
    filter: grayscale(100%);
}


.section-3 .banner:hover {
    filter: grayscale(0);
}

.section-3 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.section-4 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.section-4 span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.section-4 .person {
    width: 50px;
    height: 50px;
}




.section-5 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.footer {
    background: #F8F8F8;
}

.footer p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.footer .active {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #AFB5C0;
}

.footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: #4F5665;
}

.footer .navbar-brand {
    background: #F8F8F8;
}

.footer i {
    border-radius: 50%;
    width: 33.6px;
    height: 33.6px;
    font-size: 18px;
    color: #F53838;
    text-align: center;
    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.09);
    line-height: 30px;
    margin: 0 5px;
}

.footer i:hover {
    cursor: pointer;
}


@media only screen and (max-width : 425px) {
    .section .col-md-6 {
        margin-top: 30px;
    }

    .section-2 .px-lg-2 {
        font-size: 14px;
    }

    .section-2 .sub_title {
        margin-left: 50px;
    }


}